# nome da pipeline
name: Run Basic Tests

# em que momento será executada
on:
    pull_request: 
        branches: ["master"]

# o que vai ser feito nessa pipeline
# nesse caso, só teremos um job: rodar os testes
jobs:
    cypress-run:
        # maquina que será executado
        runs-on: ubuntu-latest

        # passo a passo para rodar os testes        
        steps:
        # clone do projeto
        - name: Checkout Project
          # usar uma action pré pronta
          uses: actions/checkout@v3

        # exemplo de execuçao no terminal
        - name: install project dependencies
          run: npm install

        # execução e config do projeto 
        - name: Run tests
          run: npx cypress run --record --key ${{ secrets.CYPRESS_RECORD_KEY }}
          
        # uploud do relatório do mocha
        - name: upload relatorio
          uses: actions/upload-artifact@v4
          with:
            name: Relatório
            path: cypress/reports/html



